In [8]:
import numpy as np
import pandas as pd
import io
#from pandas.io.json import json_normaize

In [9]:
import flask
from flask import Flask, request
from flask_cors import CORS, cross_origin
import json

In [10]:
df = pd.read_csv("C:/Users/JMP/Documents/Python/Python-GitHub/Python-Traditional-ML-Algos/Datasets/AirPassengers.csv")
df.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

In [11]:
app = Flask(__name__)
CORS(app)

@app.route('/')
def hello():
    return 'hello'

@app.route('/columnListFlask')
def columnListFlask():
    return df.to_json(orient='index')

In [12]:
app.run(host = '192.168.0.157', port=5000)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://192.168.0.157:5000/ (Press CTRL+C to quit)